html, body{
	height:98%;
}
body{
	font-family:Arial;
}
a{
	text-decoration:none !important;
}

.md_editor{
	float:left;
	width:50%;
	height:100%;
	resize:none;
	padding: 10px;
	letter-spacing: 1.5px;
	line-height: 120%;
	color: #ffffff;
	font-family: Courier New;
	background-color: #272822;
	margin-left:5px;
}


.md_result{
	font-size:107%;
	float:left;
	width:49%;
	box-sizing:border-box;
	padding:10px 10px 13px 10px;
	margin:0;
	height:100%;
	overflow-y:scroll;
}


::-webkit-scrollbar {
	width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7); 
}