html, body{
	height:98%;
}
body{
	font-family:Arial;
}
a{
	text-decoration:none !important;
}

.md_editor{
	float:left;
	width:50%;
	height:100%;
	resize:none;
	padding:0;
	margin:0;
}
.md_result{
	font-size:107%;
	float:left;
	width:49%;
	box-sizing:border-box;
	padding:10px 10px 13px 10px;
	margin:0;
	height:100%;
	overflow-y:scroll;
}