
.pace .pace-progress {
    background: none repeat scroll 0 0 #29d;
    height: 2px;
    left: 0;
    position: fixed;
    top: 0;
    transition: width 1s ease 0s;
    z-index: 2000;
}
.pace-inactive {
    display: none;
}
body {
}
.theme-black {
    background-color: #444;
    color: #d6dbdf;
}
.theme-white {
    background-color: #f9f9f5;
    color: #2c3e50;
}
.table-striped-black tbody > tr:nth-child(2n+1) > td, .table-striped-black tbody > tr:nth-child(2n+1) > th {
    background-color: #333;
}
.table-striped-white tbody > tr:nth-child(2n+1) > td, .table-striped-white tbody > tr:nth-child(2n+1) > th {
    background-color: rgba(102, 128, 153, 0.05);
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #cfcfcf;
    border-image: none;
    border-style: none none dashed;
    border-width: 0 0 1px;
    margin: 30px 0;
}
.footnote {
    font-size: 75%;
    line-height: 0;
    position: relative;
    top: -8px;
    vertical-align: baseline;
}
.footnotes small {
    color: #888;
    font-size: 0.9em;
}
.footnotes {
    margin-bottom: 20px;
}
code {
    background-color: #d6dbdf;
    border: 0 none;
    border-radius: 4px;
    color: #2c3e50;
    font-size: 90%;
    padding: 2px 4px;
    white-space: nowrap;
}
.code-black {
    background-color: #333;
    color: #d6dbdf;
}
.toc ul {
    list-style-type: none;
}
.fade {
    opacity: 0;
    transition: opacity 0.01s linear 0s;
}
.red-on-black {
    color: #cd5c5c;
}
.blue-on-black {
    color: #5ba4e5;
}
a:hover {
    color: #5ba4e5;
}
a.red-on-black:hover, a.white-on-black:hover {
    color: #f5f5f9;
}
.white-on-black {
    color: #bbb;
}
.whiter-on-black {
    color: #fff;
    font-weight: 700;
}
body, button, input, select {
    font-family: Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
    font-weight: 500;
}
.wmd-preview > p, .wmd-preview > pre, .wmd-preview > blockquote {
    margin: 0 0 20px;
}
.wmd-preview blockquote {
    border-left-style: solid;
    border-left-width: 10px;
    padding: 10px 15px;
}
.white-blockquote {
    background: none repeat scroll 0 0 rgba(102, 128, 153, 0.05);
    border-color: #d6dbdf;
}
.black-blockquote {
    background: none repeat scroll 0 0 rgba(51, 51, 51, 0.5);
    border-color: #333;
}
blockquote p {
    margin-bottom: 15px;
}
blockquote p:last-child {
    margin-bottom: 0;
}
pre {
    background: none repeat scroll 0 0 rgba(102, 128, 153, 0.05);
    border-width: 0;
    padding: 10px 15px;
}
.wmd-preview dl {
    margin-bottom: 20px;
}
.wmd-preview dt, .wmd-preview dd {
    line-height: 27px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.wmd-preview dt {
    font-weight: 700;
}
.wmd-preview dd {
    margin-left: 40px;
}
h1 {
    font-size: 30px;
    margin: 50px 0 20px;
}
h2 {
    font-size: 26px;
    margin: 35px 0 20px;
}
h3 {
    font-size: 21px;
    margin: 20px 0;
}
h4 {
    font-size: 18px;
}
h5, h6 {
    font-size: 16px;
}
.wmd-preview code, .wmd-preview pre {
    font-size: 14px;
}
.element-center {
    margin: 0 auto;
    text-align: center;
}
#wmd-button-bar {
    min-width: 650px;
    padding-bottom: 5px;
    padding-top: 5px;
}
#preview-button-bar {
    padding-bottom: 5px;
    padding-top: 5px;
}
#wmd-button-bar, #preview-button-bar {
    height: 40px;
}
.wmd-button-bar, .preview-button-bar {
    background-color: #444;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 50;
}
.wmd-button-bar-full-shown {
    border-bottom: 1px solid #ddd;
    margin: 0 auto;
    width: 650px;
}
.preview-link > a {
    margin-left: 15px;
    text-decoration: none;
}
#toc-list {
    background-clip: padding-box;
    border-radius: 4px;
    float: left;
    font-size: 14px;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0 20px;
    position: absolute;
    top: 100%;
    z-index: 1000;
}
#toc-list .toc ul {
    margin-left: 20px;
}
#toc-list .toc > ul {
    margin: 0;
}
#toc-list a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #005580;
    text-decoration: underline;
}
#toc-list a {
    color: #08c;
    display: inline;
    text-decoration: none;
}
#toc-list h3 {
    margin: 10px 0;
    padding-left: 15px;
}
#toc-list hr {
    margin: 10px 0;
}
.table-of-contents {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 0;
    width: 330px;
}
.dropdown {
    display: inline-block;
}
ul.dropdown-menu {
    color: #bbb;
    font-size: 14px;
    padding: 10px;
}
ul#signup-login-intro.dropdown-menu {
    min-width: 250px;
}
#info-menu {
    cursor: default;
    padding-left: 0;
    padding-right: 0;
    width: 300px;
}
#info-menu table {
    margin-bottom: 10px;
    width: 100%;
}
#info-menu table, #info-menu td {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-width: 0;
}
#info-menu td.menu-label {
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    padding: 3px 10px 3px 15px;
}
#info-menu td.menu-field {
    border-bottom: 1px solid #333;
    padding: 3px 10px 3px 15px;
}
#file-list {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 50px;
    overflow-y: auto;
    width: 500px;
}
#file-list-topbar {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 500px;
}
#file-list-topbar #search-file-bar {
    display: block;
}
#file-list-topbar #tag-file-bar {
    display: none;
}
#search-file-bar a {
    color: #888;
    display: inline;
    font-size: 13px;
}
#search-file-bar a:hover, #search-file-bar a:focus {
    background-color: transparent;
    background-image: none;
}
#search-file-bar a:hover {
    color: #fff;
}
#file-list .tag-list {
    list-style-type: none;
    margin-left: 10px;
}
#file-list .tag-item {
    color: #5ba4e5;
}
#file-list .tag-item:hover {
    color: #fff;
}
#file-list .tag-list .tag-count {
    margin-right: 30px;
}
#file-list .item {
    border-right: 5px solid #444;
}
#file-list li.selected-item {
    border-right: 5px solid #0081c2;
    color: #fff;
    text-decoration: none;
}
#file-list li.selected-item > a {
    color: #fff;
}
ul#about-menu.dropdown-menu {
    max-height: 100px;
    overflow-y: auto;
    width: 100px;
}
ul.dropdown-menu .divider {
    border-bottom: 0 solid #bbb;
}
ul.dropdown-menu {
    list-style-type: none;
    margin-left: 0;
}
ul.dropdown-menu li {
    line-height: 30px;
}
ul.dropdown-menu #search-file-textbox {
    background-color: #444;
    border: 0 none;
    color: #bbb;
    font-size: 16px;
    margin-bottom: 0;
    margin-right: 10px;
    width: 300px;
}
ul.dropdown-menu.theme-black li > a {
    color: #bbb;
}
ul.dropdown-menu.theme-black li > a:hover {
    color: #fff;
}
ul.dropdown-menu.theme-white li > a {
    color: #333;
}
ul.dropdown-menu.theme-white li > a:hover {
    color: #fff;
}
ul.dropdown-menu li i[class*="icon"] {
    margin-right: 10px;
    vertical-align: baseline;
}
#editor-column, #preview-column {
    width: 50%;
}
.wmd-panel-editor {
    padding-left: 20px;
    padding-right: 20px;
}
.wmd-panel-preview {
    padding-left: 20px;
    padding-right: 45px;
    position: relative;
}
.wmd-panel-editor-full-shown {
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
    width: 100%;
}
.wmd-panel-editor-full-shown-ace {
    overflow: hidden;
    width: 100%;
}
div.ace_line {
    white-space: nowrap;
}
.wmd-input, .wmd-input:focus, #md-section-helper {
    border: 0 none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    font-family: Menlo,"Ubuntu Mono",Consolas,"Courier New",Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
    font-size: 16px;
    line-height: 27px;
    overflow-x: hidden;
    padding: 0 6px;
    resize: none;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    width: 100%;
}
#md-section-helper {
    height: 1px;
    overflow: auto;
    position: absolute;
    top: -100px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.editor-reader-full-hidden {
    position: absolute;
    top: -1000px;
    z-index: -1;
}
.editor-reader-full-shown {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}
.reader-full-toolbar-hidden {
    position: absolute;
    top: -1000px;
    z-index: -1;
}
.reader-full-toolbar-shown {
    background-color: #444;
    bottom: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    padding-top: 80px;
    position: fixed;
    right: 0;
    top: 0;
    width: 45px;
    z-index: 1000;
}
.reader-full-topInfo-hidden {
    position: absolute;
    top: -1000px;
    z-index: -1;
}
.reader-full-topInfo-shown {
    color: #aaa;
    font-size: 16px;
    margin: 0 auto;
    max-width: 850px;
    padding-top: 40px;
    position: static;
}
.article-loading-alert-hidden {
    position: absolute;
    top: -1000px;
    z-index: -1;
}
#uml-X-x-X-diagram {
    position: absolute;
    top: -10000px;
    z-index: -1;
}
.sequence-diagram, .flow-diagram {
    margin: 0 auto;
    text-align: center;
}
.sequence-diagram text, .flow-diagram text {
    font-family: Arial !important;
    font-size: 15px !important;
}
.theme-white.sequence-diagram [fill="#ffffff"], .theme-white.flow-diagram [fill="#ffffff"] {
    fill: #f9f9f5;
}
.theme-white.sequence-diagram [stroke="#000000"], .theme-white.flow-diagram [stroke="#000000"] {
    stroke: #2c3e50;
}
.theme-white.sequence-diagram [fill="#000"], .theme-white.flow-diagram [fill="#000"], .theme-white.sequence-diagram [fill="#000000"], .theme-white.flow-diagram [fill="#000000"], .theme-white.sequence-diagram [fill="black"], .theme-white.flow-diagram [fill="black"] {
    fill: #2c3e50;
}
.theme-black.sequence-diagram [fill="#ffffff"], .theme-black.flow-diagram [fill="#ffffff"] {
    fill: #444;
}
.theme-black.sequence-diagram [stroke="#000000"], .theme-black.flow-diagram [stroke="#000000"] {
    stroke: #d6dbdf;
}
.theme-black.sequence-diagram [fill="#000"], .theme-black.flow-diagram [fill="#000"], .theme-black.sequence-diagram [fill="#000000"], .theme-black.flow-diagram [fill="#000000"], .theme-black.sequence-diagram [fill="black"], .theme-black.flow-diagram [fill="black"] {
    fill: #d6dbdf;
}
.ace_search.right {
    border: 1px solid #cbcbcb !important;
}
.ace_search {
    background-color: #f9f9f5 !important;
}
#reader-full-topInfo > span, #reader-full-topInfo > code {
    margin-right: 10px;
}
#reader-full-topInfo a {
    color: #aaa;
    font-size: 16px;
}
.in-page-editor-buttons, .in-page-preview-buttons {
    margin-top: 20px;
    position: fixed;
    z-index: 10;
}
.in-page-preview-buttons-full-reader {
    right: 35px;
    top: -15px;
}
.preview-container {
    overflow: auto;
}
.wmd-preview {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #bbb;
    border-image: none;
    border-style: dashed;
    border-width: 0 0 1px 1px;
    font-size: 16px;
    line-height: 27px;
    overflow: auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}
.wmd-preview li {
    line-height: 27px;
}
.wmd-preview ol.linenums > li {
    line-height: 20px;
}
.wmd-preview-full-reader {
    border: 0 none;
    height: auto;
    margin: 0 auto;
    max-width: 850px;
    overflow-x: hidden;
    padding-bottom: 50px;
    position: relative;
}
.wmd-button-row, .preview-button-row {
    height: auto;
    margin: 10px 5px 5px;
    padding: 0;
}
.wmd-spacer {
    display: inline-block;
    height: 20px;
    list-style: outside none none;
    margin-left: 30px;
    width: 0;
}
.preview-button-full-reader {
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 20px;
    list-style: outside none none;
    margin: 0 auto 20px;
    width: 20px;
}
#reader-full-toolbar-home {
    margin-bottom: 60px;
}
.reader-full-toolbar-tail-shown {
    bottom: 0;
    opacity: 0.9;
    position: fixed;
    right: 0;
    width: 45px;
    z-index: 1000;
}
.reader-full-toolbar-tail-hidden {
    position: absolute;
    top: -1000px;
    z-index: -1;
}
.wmd-button, .preview-button, .in-page-button {
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    height: 20px;
    list-style: outside none none;
    width: 20px;
}
.preview-link {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 20px;
    list-style: outside none none;
}
.wmd-button {
    margin-left: 10px;
}
.preview-link, .preview-button {
    margin-right: 10px;
}
.in-page-button {
    margin-right: 15px;
}
.wmd-button > span, .preview-button > span, .in-page-button > span {
    display: inline-block;
    height: 20px;
    width: 20px;
}
.preview-link button {
    background-color: #444;
    border: 0 solid #0081c2;
    border-radius: 4px;
    color: #5ba4e5;
    font-size: 14px;
    padding: 2px 4px;
    vertical-align: baseline;
}
.preview-link button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}
.preview-link button:focus, .preview-link a:focus {
    outline-width: 0;
}
.wmd-spacer1 {
    left: 40px;
}
.wmd-spacer2 {
    left: 175px;
}
.wmd-spacer3 {
    left: 300px;
}
.wmd-prompt-background {
    background-color: #000;
}
.wmd-prompt-dialog {
    background-color: #f5f5f5;
    border: 1px solid #999;
}
.wmd-prompt-dialog > div {
    font-family: arial,helvetica,sans-serif;
    font-size: 0.8em;
}
.wmd-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999;
    color: #000;
}
.wmd-prompt-dialog > form > input[type="button"] {
    border: 1px solid #888;
    font-family: trebuchet MS,helvetica,sans-serif;
    font-size: 0.8em;
    font-weight: 700;
}
.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
@keyframes pop-upwards {
0% {
    opacity: 0;
    transform: matrix(0.97, 0, 0, 1, 0, 12);
}
20% {
    opacity: 0.7;
    transform: matrix(0.99, 0, 0, 1, 0, 2);
}
40% {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, -1);
}
70% {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
100% {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
}
.medium-toolbar-arrow-under::after, .medium-toolbar-arrow-over::before {
    border-style: solid;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    margin-left: -8px;
    position: absolute;
    width: 0;
}
.medium-toolbar-arrow-under::after {
    border-width: 8px 8px 0;
}
.medium-toolbar-arrow-over::before {
    border-width: 0 8px 8px;
    top: -8px;
}
.medium-editor-toolbar {
    font-family: HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 1000;
}
.medium-editor-toolbar ul {
    margin: 0;
    padding: 0;
}
.medium-editor-toolbar li {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.medium-editor-toolbar li button {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 1.33;
    margin: 0;
    padding: 15px;
    text-decoration: none;
}
.medium-editor-toolbar li .medium-editor-action-underline {
    text-decoration: underline;
}
.medium-editor-toolbar li .medium-editor-action-pre {
    font-family: Menlo,monospace;
    font-size: 12px;
    font-weight: 100;
    padding: 15px 0;
}
.medium-editor-toolbar-active {
    animation: 160ms linear 0s normal forwards 1 running pop-upwards;
    transition: top 0.075s ease-out 0s, left 0.075s ease-out 0s;
    visibility: visible;
}
button:focus {
    outline-width: 0;
}
.highlight-yellow {
    background-color: rgba(255, 242, 168, 0.6);
}
.highlight-green {
    background-color: rgba(133, 246, 150, 0.6);
}
.highlight-blue {
    padding-bottom: 2px;
    padding-top: 2px;
}
.theme-white .highlight-blue {
    background-color: rgba(168, 209, 255, 0.8);
}
.theme-black .highlight-blue {
    background-color: rgba(168, 209, 255, 0.5);
}
.side-remark-hidden {
    display: none;
    position: absolute !important;
    top: -1000px;
    z-index: -1;
}
.side-remark-shown {
    position: absolute;
    z-index: 1000;
}
.remark-icons {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 950;
}
.remark-icon {
    position: absolute;
}
.remark-icon-empty .icon-stack i {
    color: rgba(91, 164, 229, 0.6);
}
.remark-icon-hover .icon-stack i {
    color: #5ba4e5 !important;
}
.remark-icon-clicked .icon-stack i {
    color: #5ba4e5 !important;
}
.remark-count {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    left: 5px;
    position: absolute;
    top: -4px;
}
.icon-stack {
    cursor: pointer;
}
.icon-stack i {
    color: rgba(0, 0, 0, 0.4);
    font-size: 22px;
}
.remark-list {
    font-size: 14px;
    padding-bottom: 20px;
    width: 240px;
}
.remark-item {
    border-top: 1px solid;
    padding: 20px 0 20px 42px;
    position: relative;
}
.remark-item:last-child {
    border-bottom: 1px solid;
    margin-bottom: 20px;
}
.theme-white .remark-item {
    border-color: rgba(0, 0, 0, 0.1);
}
.theme-black .remark-item {
    border-color: rgba(0, 0, 0, 0.2);
}
.remark-item:hover {
    cursor: pointer;
}
.remark-item .remark-head {
    left: 0;
    position: absolute;
}
.remark-reply .remark-delete-link {
    color: #ccc;
    position: absolute;
    right: 0;
    top: 0;
}
.remark-reply .remark-delete-link .icon-remove {
    font-size: 18px;
}
.remark-reply .remark-delete-link:hover {
    color: #5ba4e5;
}
.remark-item .remark-published-link {
    color: #ccc;
    font-size: 13px;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 3px;
}
.remark-item .remark-published-link:hover {
    color: #5ba4e5;
}
.remark-options {
    color: #bbb;
    font-size: 13px;
    list-style: outside none none;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.remark-options li {
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 3px 10px 3px 3px;
}
.theme-white .remark-options li {
    border-color: rgba(0, 0, 0, 0.1);
}
.theme-black .remark-options li {
    border-color: rgba(0, 0, 0, 0.2);
}
.remark-options li:hover {
    background-color: #08c;
    color: #fff;
    cursor: pointer;
}
.remark-options li span {
    margin-left: 5px;
}
.remark-editor {
    margin-top: 3px;
    word-wrap: break-word;
}
.remark-editor p {
    margin: 0;
}
.remark-editor #default-span {
    color: #aaa;
    cursor: pointer;
}
.remark-editor:focus {
    outline-width: 0;
}
.remark-reply, .new-reply {
    margin-bottom: 6px;
    margin-top: 14px;
    padding-left: 34px;
    position: relative;
}
.new-remark {
    padding-left: 42px;
    position: relative;
}
.new-remark .remark-head {
    left: 0;
    position: absolute;
}
.leave-reply {
    color: #08c;
    font-size: 13px;
}
.leave-remark {
    color: #bbb;
    font-size: 14px;
}
.leave-remark:hover, .leave-reply:hover {
    color: #5ba4e5;
    cursor: pointer;
    text-decoration: none;
}
.leave-remark span {
    margin-right: 15px;
}
.remark-footer {
    margin-top: 3px;
}
.remark-footer button, .remark-reply-view-more {
    border: 0 none;
    font-size: 13px;
    padding: 0 6px 0 0;
}
.remark-footer button:hover, .remark-reply-view-more:hover {
    color: #5ba4e5;
    text-decoration: none;
}
.remark-edit, .remark-cancel, .remark-delete {
    color: #aaa;
}
.remark-notice {
    color: #aaa;
    font-size: 12px;
}
.remark-notice::before {
    background: none repeat scroll 0 0 #ccc;
    content: "";
    display: block;
    height: 1px;
    margin: 16px 0 10px;
    width: 40px;
}
.inline-error {
    color: #cd5c5c;
    font-size: 12px;
}
.unselectable {
    -moz-user-select: none;
}
.tooltip-inner {
    max-width: 250px;
    width: 250px;
}
.remark-reply .tooltip-inner {
    max-width: 100px;
    width: 100px;
}
.medium-toolbar-arrow-under::after {
    border-color: #333 transparent transparent;
    top: 36px;
}
.medium-toolbar-arrow-over::before {
    border-color: transparent transparent #333;
    top: -8px;
}
.medium-editor-toolbar {
    background-color: #333;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 1px 2px 3px -2px #000;
    transition: top 0.075s ease-out 0s, left 0.075s ease-out 0s;
}
.medium-editor-toolbar li button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #333;
    border-color: -moz-use-text-color #000 -moz-use-text-color rgba(255, 255, 255, 0.1);
    border-image: none;
    border-style: none solid;
    border-width: 0 1px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    color: #fff;
    height: 36px;
    min-width: 36px;
    padding: 0 15px;
    transition: background-color 0.2s ease-in 0s;
}
.medium-editor-toolbar li button:hover {
    background-color: #000;
}
.medium-editor-toolbar li .medium-editor-button-first {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.medium-editor-toolbar li .medium-editor-button-last {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
